<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>alternateColors</key>
			<true/>
			<key>defaults</key>
			<string>com.chancehudson.blurredlockscreensettings</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.chancehudson.blurredlockscreen/updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chancehudson.blurredlockscreensettings</string>
			<key>key</key>
			<string>kHideBottomBar</string>
			<key>label</key>
			<string>Hide Slide To Unlock</string>
			<key>PostNotification</key>
			<string>com.chancehudson.blurredlockscreen/updated</string>
			<key>set</key>
			<string>setValue:forSpecifier:</string>
			<key>id</key>
			<string>hideSlideToUnlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chancehudson.blurredlockscreensettings</string>
			<key>key</key>
			<string>kHideClock</string>
			<key>label</key>
			<string>Hide Clock</string>
			<key>PostNotification</key>
			<string>com.chancehudson.blurredlockscreen/updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Do not disable this while slide to unlock is hidden!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chancehudson.blurredlockscreensettings</string>
			<key>key</key>
			<string>kUnlockWithTap</string>
			<key>label</key>
			<string>Unlock With Tap</string>
			<key>PostNotification</key>
			<string>com.chancehudson.blurredlockscreen/updated</string>
			<key>set</key>
			<string>setValue:forSpecifier:</string>
			<key>id</key>
			<string>hideTapToUnlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animation Time</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<string>2.0</string>
			<key>showValue</key>
			<false/>
			<key>defaults</key>
			<string>com.chancehudson.blurredlockscreensettings</string>
			<key>key</key>
			<string>kAnimationTime</string>
			<key>PostNotification</key>
			<string>com.chancehudson.blurredlockscreen/updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Blur Intensity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>2</real>
			<key>max</key>
			<string>20</string>
			<key>showValue</key>
			<false/>
			<key>defaults</key>
			<string>com.chancehudson.blurredlockscreensettings</string>
			<key>key</key>
			<string>kDefaultBlurIntensity</string>
			<key>PostNotification</key>
			<string>com.chancehudson.blurredlockscreen/updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lockscreen Wallpaper Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<string>1.0</string>
			<key>showValue</key>
			<false/>
			<key>defaults</key>
			<string>com.chancehudson.blurredlockscreensettings</string>
			<key>key</key>
			<string>kLockScreenWallpaperAlpha</string>
			<key>PostNotification</key>
			<string>com.chancehudson.blurredlockscreen/updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>blurredlockscreensettingsColorsController</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This option hides the battery that appears on the lockscreen when the device is charging.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chancehudson.blurredlockscreensettings</string>
			<key>key</key>
			<string>kHideAlbumArtwork</string>
			<key>label</key>
			<string>Hide Album Artwork</string>
			<key>PostNotification</key>
			<string>com.chancehudson.blurredlockscreen/updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chancehudson.blurredlockscreensettings</string>
			<key>key</key>
			<string>kHideChargingScreen</string>
			<key>label</key>
			<string>Hide Battery</string>
			<key>PostNotification</key>
			<string>com.chancehudson.blurredlockscreen/updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Copyright © 2012 Chance Hudson (W00T!)</string>
		</dict>
	</array>
	<key>title</key>
	<string>Settings</string>
</dict>
</plist>
