<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color Overlay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>alternateColors</key>
			<true/>
			<key>defaults</key>
			<string>com.chancehudson.blurredlockscreensettings</string>
			<key>key</key>
			<string>kColorsEnabled</string>
			<key>label</key>
			<string>Colors Enabled</string>
			<key>PostNotification</key>
			<string>com.chancehudson.blurredlockscreen/updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Red</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Red</string>
			<key>id</key>
			<string>redColor</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<string>1</string>
			<key>showValue</key>
			<false/>
			<key>defaults</key>
			<string>com.chancehudson.blurredlockscreensettings</string>
			<key>key</key>
			<string>kRedColor</string>
			<key>PostNotification</key>
			<string>com.chancehudson.blurredlockscreen/updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Green</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Green</string>
			<key>id</key>
			<string>greenColor</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<string>1</string>
			<key>showValue</key>
			<false/>
			<key>defaults</key>
			<string>com.chancehudson.blurredlockscreensettings</string>
			<key>key</key>
			<string>kGreenColor</string>
			<key>PostNotification</key>
			<string>com.chancehudson.blurredlockscreen/updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Blue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Blue</string>
			<key>id</key>
			<string>blueColor</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<string>1</string>
			<key>showValue</key>
			<false/>
			<key>defaults</key>
			<string>com.chancehudson.blurredlockscreensettings</string>
			<key>key</key>
			<string>kBlueColor</string>
			<key>PostNotification</key>
			<string>com.chancehudson.blurredlockscreen/updated</string>
		</dict>
	</array>
	<key>title</key>
	<string>Colors</string>
</dict>
</plist>
